/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.main {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 30px 0;
}

input {
  padding: 2px 20px;
  border-radius: 10px;
  border: 1px solid #999;
  box-sizing: border-box;
  height: 40px;
}

.error-text {
  color:#fc0303
}

.search-btn {
  box-sizing: border-box;
  height: 58px;
  margin: 0 3px;
  padding: 0 10px;
  border-radius: 10px;
  color: #FFF;
  font-weight: 600;
  font-size: 21px;
  background-color: #FFF;
  border: 1px solid #03a5fc;
  background-color: #03a5fc;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #999999;
}

.search-btn:hover {
  opacity: 0.8;
}

.search-btn:active {
  opacity: 0.7;
  transform: translateY(3px);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 8px;
  border-radius: 8px;
  text-align: left;
}

.properties {
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: #fcfcfc;
}

.card div {
  padding-top: 2px;
  padding-bottom: 2px;
}

.properties span{
  word-break: break-all;
}

.filter-radio {
  margin: 0 15px;
  color: #888;
  cursor: pointer;
}

.filter-radio.active {
  color: #03a5fc;
}

.count {
  margin-left: auto;
}

.toggle-btn {
  color: #0367fc;
  cursor: pointer;
  font-size: 21px;
  line-height: 15px;
  padding: 0px 5px;
}